{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ form.errors }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<h1>Register</h1>
<br/><br/>
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <label class="form-label">Email:</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp" name="email">
    <label class="form-label">First name:</label>
    <input type="text" class="form-control" name="first_name">
    <label class="form-label">Last name:</label>
    <input type="text" class="form-control" name="last_name">
    <label class="form-label">Password:</label>
    <input type="password" class="form-control" name="password1">
    <label class="form-label">Password confrimation:</label>
    <input type="password" class="form-control" name="password2">
    <br/><br/>
    <input type="submit"
    value="Submit" class="btn btn-secondary">
</form>
{% endblock %}