{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock %}
{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ form.errors }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<h1>Register</h1>
<br/><br/>
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <div id="interactiveInputs">
      {% include 'partials/interactive_inputs.html' %}
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
      <label for="password1">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Password Confirmation" required>
      <label for="password2">Password Confirmation</label>
    </div>
    <br/><br/>
    <input type="submit"
    value="Submit" class="btn btn-secondary">
</form>

{% endblock %}
{% block scripts %}
<script>
  htmx.onLoad(()=>{
    const toastElList = document.querySelectorAll('.toast')
    const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl).show())
  })
</script>
{% endblock %}