{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'myMeetings.css' %}">
{% endblock %}
{% block title %}Edit Section{% endblock %} {% block content %}
{% csrf_token %}
<div class="position-fixed bottom-0 end-0 w-100" style="z-index: 1000;">
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div id="problems" class="toast-container bottom-0 end-0 mb-3 me-3">
    </div>
  </div>
</div>
<div class="container text-center">
  <section id="sections" class="pt-2"> 
    {% include 'section.html' with section=section %}
  </section>
  <br>
  <div class="row">
    <div class="col text-end">
      <button 
        hx-post="{% url 'soft_submit' %}"
        hx-include="#sections"
        hx-swap="none"
        type="button" 
        class="btn btn-primary"
        data-bs-toggle="modal" 
        data-bs-target="#warnings">
        Submit
      </button>
    </div>
  </div>
</div>
<br>
<!-- TODO change this first trigger -->
<div 
  hx-put="{% url 'update_meetings' %}"
  hx-trigger="updateMeetings from:body"
  hx-swap="none"
  hx-include="#sections, #enforceDepartmentConstraints"
  id="meetingsContainer" >
{% include 'get_meetings.html' with edit_meetings=edit_meetings %}
</div>

<div class="modal fade" id="warnings" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Problems</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="problemsBody">
        <table class="table">
        </table>
      </div>
      <div class="modal-footer">
        <button 
          
          type="button" 
          class="btn btn-secondary" 
          data-bs-dismiss="modal">
          Cancel
        </button>
        <button 
          hx-include="#sections"
          hx-post="{% url 'hard_submit' %}"
          id="hardSubmitAll" 
          type="button" 
          class="btn btn-primary">
            Submit
          </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block scripts %}
  <script>
    htmx.onLoad(()=>{
      const toastElList = document.querySelectorAll('.toast')
      const toastList = [...toastElList].map(toastEl => {
        const toast =  new bootstrap.Toast(toastEl)
        if(!toast.isShown()){
          toast.show()
        }
        toastEl.addEventListener('hidden.bs.toast', () => {
          toastEl.remove()
        })
      })
    })
  </script>
{% endblock %}
