* {
    box-sizing: border-box;
  }
  
  body {
    background: #fff;
  }
  
  .meeting-container {
    width: 70%;
    display: grid;
    grid-template-rows: 3em 3em auto;
    position: absolute;
  }
  
  .title {
    background: #217346;
    text-align: center;
    display: grid;
    place-content: center;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .days {
    background: #f3f2f1;
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-columns: 3em 10px repeat(7, 1fr);
    position: sticky;
    top: 3em;
    z-index: 10;
    border-bottom: 2px solid #dadce0;
  }
  
  .day {
    border-left: 1px solid #dadce0;
  }
  
  .content {
    display: grid;
    grid-template-columns: 3em 10px repeat(7, 1fr);
    grid-template-rows: repeat(11, 4.5em);
  }
  
  .time {
    grid-column: 1;
    text-align: right;
    align-self: end;
    font-size: 80%;
    position: relative;
    bottom: -1ex;
    color: #70757a;
    padding-right: 2px;
  }

  .time-double{
    grid-column: 1;
    text-align: right;
    align-self: end;
    font-size: 80%;
    position: relative;
    bottom: -2.5ex;
    color: #70757a;
    padding-right: 2px;
  }
  
  .meeting-col {
    border-right: 1px solid #dadce0;
    grid-row: 1/span 11;
    grid-column: span 1;
  }
  
  .filler-col {
    grid-row: 1/-1;
    grid-column: 2;
    border-right: 1px solid #dadce0;
  }
  
  .meeting-row {
    grid-column: 2/-1;
    border-bottom: 1px solid #dadce0;
  }
  
  .event {
    border-radius: 10px;
    border: 5px solid;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 7px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 80%;
  }
  
  .weekend {
    background-color: #f1f3f4;
  }

  .hoverCalendar {
    background-color: #999999;
    border-color: #888888;
  }

  .selectedCalendar {
    background-color: #666666;
    border-color: #555555;
  }

  .calendar0 {
    background-color: #fd7f6f;
    border-color: #fd7f6f;
    
  }

  .calendar1 {
    background-color: #7eb0d5;
    border-color: #7eb0d5;
  }
  
  .calendar2 {
    background-color: #b2e061;
    border-color: #b2e061;
  }

  .calendar3 {
    background-color:#bd7ebe;
    border-color: #bd7ebe;
    
  }

  .calendar4 {
    background-color: #ffb55a;
    border-color: #ffb55a;
  }
  
  .calendar5 {
    background-color:#ffee65;
    border-color: #ffee65;
  }
  
  .calendar6 {
    background-color: #beb9db;
    border-color: #beb9db;
  }
  
  .calendar7 {
    background-color: #fdcce5;
    border-color: #fdcce5;
  }

  .calendar8 {
    background-color: #8bd3c7;
    border-color: #8bd3c7;
  }

  .calendar9 {
    background-color: #8bd3c7;
    border-color: #777777; 
  }

  .calendar10 {
    background-color: #fdcce5;
    border-color: #777777;
  }
  
  .calendar11 {
    background-color: #beb9db;
    border-color: #777777;
  }

  .calendar12 {
    background-color: #ffee65;
    border-color: #777777;
    
  }

  .calendar13 {
    background-color: #ffb55a;
    border-color: #777777;
  }
  
  .calendar14 {
    background-color:#bd7ebe;
    border-color: #777777;
  }
  
  .calendar15 {
    background-color: #b2e061;
    border-color: #777777;
  }
  
  .calendar16 {
    background-color: #7eb0d5;
    border-color: #777777;
  }

  .calendar17 {
    background-color: #fd7f6f;
    border-color: #777777;
  }



  .current {
    font-weight: bold;
  }