.live-search-options {
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    user-select: none;
}

.search-icon-link {
    color: inherit;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.search-icon-link:hover,
.search-icon-link:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}

.popover {
    max-width: 400px;
}

.sectionRow {
    height: 55px;
}

#sectionsTableContainer {
    min-height: 550px;
}

.pagination {
    user-select: none;
}