<div class="row">
    <h4 class="col-3 text-center">{{ course_search_title }}</h4>
    <div class="col-9 search-container">
        <input hx-get="{% url 'get_course_results' offset=0%}" hx-include="#course-options, #courseMultiSelect"
            hx-target="#course-results" hx-trigger="keyup changed delay:250ms, search, load" name="course_query"
            placeholder="Course Title or Number" type="text" class="form-control" id="course-text"
            value="{{ course_query }}">
        </input>
        <div class="live-search-results" id="course-search-results">
            <div class="container" id="course-results">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="courseMultiSelect">
        {% include 'course_pills.html' with courses=courses_from_preferences %}
    </div>
</div>

{% include 'search.html' with textLiveSearchId="course-text" searchResultsId="course-search-results" %}
