{% load formhelpers %}
<div class="meeting-container">
  <div class="title">{{ term }}</div>
  <div class="days">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="day">Monday</div>
    <div class="day">Tuesday</div>
    <div class="day">Wednesday</div>
    <div class="day">Thursday</div>
    <div class="day">Friday</div>
    <div class="day">Saturday</div>
    <div class="day">Sunday</div>
  </div>
  <div class="content" id="meetingsGrid">
    <div class="time" style="grid-row:1"><div>08:00</div></div>
    <div class="time-double" style="grid-row:2"><div>09:00&nbsp&nbsp</div><div>09:15&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:3"><div>10:45&nbsp&nbsp</div><div>11:00&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:4"><div>12:15&nbsp&nbsp</div><div>12:30&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:5"><div>01:45&nbsp&nbsp</div><div>02:00&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:6"><div>03:15&nbsp&nbsp</div><div>03:30&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:7"><div>04:45&nbsp&nbsp</div><div>05:00&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:8"><div>06:15&nbsp&nbsp</div><div>06:30&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:9"><div>07:45&nbsp&nbsp</div><div>08:00&nbsp&nbsp</div></div>
    <div class="time" style="grid-row:10"><div>09:00</div></div>
    <div class="time" style="grid-row:11"><div>10:00</div></div>
    <div class="filler-col"></div>
    <div class="meeting-col" style="grid-column:3"></div>
    <div class="meeting-col" style="grid-column:4"></div>
    <div class="meeting-col" style="grid-column:5"></div>
    <div class="meeting-col" style="grid-column:6"></div>
    <div class="meeting-col" style="grid-column:7"></div>
    <div class="meeting-col weekend" style="grid-column:8"></div>
    <div class="meeting-col weekend" style="grid-column:9"></div>
    <div class="meeting-row" style="grid-row:1"></div>
    <div class="meeting-row" style="grid-row:2"></div>
    <div class="meeting-row" style="grid-row:3"></div>
    <div class="meeting-row" style="grid-row:4"></div>
    <div class="meeting-row" style="grid-row:5"></div>
    <div class="meeting-row" style="grid-row:6"></div>
    <div class="meeting-row" style="grid-row:7"></div>
    <div class="meeting-row" style="grid-row:8"></div>
    <div class="meeting-row" style="grid-row:9"></div>
    <div class="meeting-row" style="grid-row:10"></div>
    <div class="meeting-row" style="grid-row:11"></div>
    {% regroup meetings by section as sections %}
    {% for section in sections %}
      {% for meeting in section.list %}
      
      <div startTime="{{ meeting.time_block.start_end_time.start_input }}"
        endTime="{{ meeting.time_block.start_end_time.end_input }}"
        day="{{ meeting.time_block.day }}"
        room="{{ meeting.room.pk }}"
        class="event calendar{{ forloop.parentloop.counter|modulo:16 }} position-relative"
        name="addedMeetings"
        meeting="{{ meeting.section }}"
        style="grid-column: {{ meeting.time_block|get_time_block_col }}; grid-row: {{ meeting.time_block|get_time_block_row }}/span {{ meeting.time_block|get_time_block_span }};">
        {{ meeting.section }}
        <svg class="position-absolute top-0 end-0 bi bi-info-circle" name="meetingDetail" value="{{ meeting.pk }}" data-bs-toggle="collapse" href="#meetingDetails" aria-expanded="false" aria-controls="meetingsDetails" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
      </div>
      {% endfor %}
    {% endfor %}
    {% for time_slot in open_time_blocks %}
    <div class="openSlots event justify-content-center" startTime="{{ time_slot.start }}" endTime="{{ time_slot.end }}"
      day="{{ time_slot.day }}"
      style="grid-column: {{ time_slot.time_block|get_time_block_col }}; grid-row: {{ time_slot.time_block|get_time_block_row }}/span {{ time_slot.time_block|get_time_block_span }}">
      Open Time Slot
    </div>
    <div class="position-relative"
      style="grid-column: {{ time_slot.time_block|get_time_block_col }};
        grid-row: {{ time_slot.time_block|get_time_block_row }}/span {{ time_slot.time_block|get_time_block_span }};
        pointer-events: none;">
        <div class="position-absolute top-0 end-0 badge rounded-pill text-bg-primary"
          style="z-index: 10;">
          {{ time_slot.number }}
        </div>
    </div>

    {% endfor %}
  </div>
  <div class="collapse collapse-horizontal position-absolute top-0 end-0" id="meetingDetails" style="z-index: 11;">
    <div id="meetingDetailsContainer" class="card card-body" style="width: 400px;">
    </div>
    <button data-bs-toggle="collapse" href="#meetingDetails" type="button" role="button" class="btn-close position-absolute top-0 end-0" aria-controls="meetingsDetails" aria-expanded="true" aria-label="Close">
    </button>
  </div>