{% load formhelpers %}
<div class="meeting-container" hx-disinherit="*">
  <div class="title" id="title">{{ title }}</div>
  <div class="days">
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="day">Monday</div>
    <div class="day">Tuesday</div>
    <div class="day">Wednesday</div>
    <div class="day">Thursday</div>
    <div class="day">Friday</div>
    <div class="day">Saturday</div>
    <div class="day">Sunday</div>
  </div>
  <div class="content" id="meetingsGrid">
    <div class="time" style="grid-row:1"><div>08:00</div></div>
    <div class="time-double" style="grid-row:2"><div>09:15&nbsp&nbsp</div><div>09:30&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:3"><div>10:45&nbsp&nbsp</div><div>11:00&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:4"><div>12:15&nbsp&nbsp</div><div>12:30&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:5"><div>01:45&nbsp&nbsp</div><div>02:00&nbsp&nbsp</div></div>
    <div class="time-double" style="gdemo@example.comrid-row:6"><div>03:15&nbsp&nbsp</div><div>03:30&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:7"><div>04:45&nbsp&nbsp</div><div>05:00&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:8"><div>06:15&nbsp&nbsp</div><div>06:30&nbsp&nbsp</div></div>
    <div class="time-double" style="grid-row:9"><div>07:45&nbsp&nbsp</div><div>08:00&nbsp&nbsp</div></div>
    <div class="time" style="grid-row:10"><div>09:00</div></div>
    <div class="time" style="grid-row:11"><div>10:00</div></div>
    <div class="filler-col"></div>
    <div class="meeting-col" style="grid-column:3"></div>
    <div class="meeting-col" style="grid-column:4"></div>
    <div class="meeting-col" style="grid-column:5"></div>
    <div class="meeting-col" style="grid-column:6"></div>
    <div class="meeting-col" style="grid-column:7"></div>
    <div class="meeting-col weekend" style="grid-column:8"></div>
    <div class="meeting-col weekend" style="grid-column:9"></div>
    <div class="meeting-row" style="grid-row:1"></div>
    <div class="meeting-row" style="grid-row:2"></div>
    <div class="meeting-row" style="grid-row:3"></div>
    <div class="meeting-row" style="grid-row:4"></div>
    <div class="meeting-row" style="grid-row:5"></div>
    <div class="meeting-row" style="grid-row:6"></div>
    <div class="meeting-row" style="grid-row:7"></div>
    <div class="meeting-row" style="grid-row:8"></div>
    <div class="meeting-row" style="grid-row:9"></div>
    <div class="meeting-row" style="grid-row:10"></div>
    <div class="meeting-row" style="grid-row:11"></div>
    <section class="htmxGrouper" id="otherMeetings">
        {% include 'other_meetings.html' %}
    </section>
    <section class="htmxGrouper" id="editingMeetings">
        {% include 'edit_meetings.html' %}
    </section>
    <section class="htmxGrouper" id="openSlots">
        {% include 'open_slots.html' %}
    </section>
    {% for number_icon in number_icons %}
    <div class="position-relative"
      style=" grid-area: {% grid_area number_icon.start number_icon.end number_icon.day %};
        pointer-events: none;" >
        <div class="position-absolute top-0 end-0 badge rounded-pill text-bg-primary opacity-75"
          style="z-index: 10; margin-top: -0.25rem; margin-right: -0.25rem;">
          {{ number_icon.numbers }}
        </div>
    </div>
    {% endfor %}
  </div>
  <div class="collapse collapse-horizontal position-absolute top-0 end-0" id="meetingDetails" style="z-index: 11;">
    <div id="meetingDetailsContainer" class="card card-body" style="width: 400px;">
    </div>
    <button data-bs-toggle="collapse" href="#meetingDetails" type="button" role="button" class="btn-close position-absolute top-0 end-0" aria-controls="meetingsDetails" aria-expanded="true" aria-label="Close">
    </button>
</div>
<script>
  function meetingDragstartHandler(ev) {
    // Add the target element's id to the data transfer object
    const rowId = ev.target.getAttribute("rowId")
    ev.dataTransfer.setData("text/plain", rowId);
    // get the data of the transfer
    const meetingsCounter = document.getElementById("meetingsContainer")
    const thisRow = document.getElementById(rowId)

    const startEndTimeSelect = thisRow.querySelector('[name="startEndTime"]')
    const selectedTime = startEndTimeSelect.options[startEndTimeSelect.selectedIndex].value

    const buildingSelect = thisRow.querySelector('[name="building"]')
    const selectedBuilding = buildingSelect.options[buildingSelect.selectedIndex].value

    const roomSelect = thisRow.querySelector('[name="room"]')
    const selectedRoom = roomSelect.options[roomSelect.selectedIndex].value

    const professor = thisRow.querySelector('[name="professor"]').value
    // Maybe check the current hx-vals are the same as the new before

    meetingsCounter.setAttribute("hx-vals", ` {
        "thisStartEndTime": "${selectedTime}",
        "thisBuilding": "${selectedBuilding}",
        "thisRoom": "${selectedRoom}",
        "thisProfessor": "${professor}"
    }`)
    htmx.trigger("body", "updateMeetings")
  }

  function meetingOver(ev) {
    ev.preventDefault();
    ev.dataTransfer.dropEffect = "move";
    // implemnt the copy of it to shade in and also switch
  }

  function meetingDrop(ev) {
    if (document.getElementById("meetingsContainer").classList.contains('htmx-request')) {
        // meetings are still loading so simply reject the drag
        return
    }
    ev.preventDefault();
    // Get the id of the target and add the moved element to the target's DOM
    const draggedMeetingId = ev.dataTransfer.getData("text/plain");
    const draggedElement = document.querySelector(`[rowId="${draggedMeetingId}"]`);
    const dropTarget = ev.currentTarget;
    // moving the element
    draggedElement.style.gridArea = dropTarget.style.gridArea;
    const inputRow = document.getElementById(draggedMeetingId);
    inputRow.querySelector(`[name="startEndTime"]`).value = dropTarget.getAttribute("value");
    inputRow.querySelector(`[name="day"]`).value = dropTarget.getAttribute("day");
    // implement swtich for two in editing meeting
  }
</script>
