{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'formSubmission.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}

{% block title %}Claim{% endblock %} {% block content %}
{% csrf_token %}
<div class="d-grid gap-3 container">
    <form id="course-options">
        {% include 'term_option.html' %}
        <div class="row">
        {% include 'department_subject.html' %}
        </div>
    </form>
    <div class="row">
        <div id="courseMultiSelect"></div>    
    </div>
</div> 
<div class="p-2" id="professorControls">
    <input type="checkbox" class="form-check-input" name="fits" id="fits" checked>
    <label for="fits">Fits in Schedule</label>
    <input type="checkbox" class="form-check-input" name="available" id="available" checked>
    <label for="available">Is available</label>
</div>
<div class="p-2" 
    hx-include="#courseMultiSelect, #term, #professorControls" 
    hx-target="#sections"
>
    <div class="row">
        <h4 class="col-3 text-center">Section Search:</h4>
        <div class="col-6 search-container">
            <input 
                hx-get="{% url 'get_course_results' offset=0%}" 
                hx-include="#course-options"
                hx-target="#course-results"
                hx-trigger="keyup changed delay:250ms, search, load" 
                name="course_query" 
                placeholder="Course Title or Number"
                type="text" 
                class="form-control"
                id="course-text" value="{{ course_query }}">
            </input>
            <div class="live-search-results" id="course-search-results">
                <div class="container" id="course-results">
                    {% include 'course_results.html' with offset=0 next_offset=courses|length %}
                </div>
            </div>
        </div>
        <div class="col-3">
            <button
                hx-get="{% url 'section_search' %}"
                hx-trigger="load, click"
                class="cursor-pointer search-icon-link" id="meetingSearch">
                Search
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </div>
    </div>
    <div id="sections"></div>
</div>

<!-- Modal to submit a claim for a section/ particular meetings-->
<div class="modal fade" id="submitClaim" tabindex="-1" aria-labelledby="claimLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="claimLabel">Claim</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-2">Meeting times:</div>
            <div class="mb-3" id="claimMeetings">
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="claimButton" class="btn btn-primary">Claim</button>
        </div>
      </div>
    </div>
  </div>

<script>
    let selectedOptionIndex = - 1;
    const courseTextLiveSearch = document.getElementById('course-text');
    const courseSearchResults = document.getElementById('course-search-results');
    courseTextLiveSearch.addEventListener('focus', () => {
        courseSearchResults.style.display = 'block';
    });
    courseTextLiveSearch.addEventListener('blur', () => {
        setTimeout(() => {
            courseSearchResults.style.display = 'none';
        }, 100);
    });
    courseTextLiveSearch.addEventListener('keydown', (event) => {
        const options = courseSearchResults.querySelectorAll('.course-option');
        
        if (event.key === 'ArrowUp') {
            event.preventDefault();
            if (selectedOptionIndex > 0) {
                options[selectedOptionIndex].classList.remove('selected-course');
                selectedOptionIndex--;
                options[selectedOptionIndex].classList.add('selected-course');
            }
        } else if (event.key === 'ArrowDown') {
            event.preventDefault();
            if (selectedOptionIndex < options.length - 1) {
                if (selectedOptionIndex >= 0) {
                    options[selectedOptionIndex].classList.remove('selected-course');
                }
                selectedOptionIndex++;
                options[selectedOptionIndex].classList.add('selected-course');
            }
        }
        if (event.key === 'Enter' || event.key === 'Return') {
            if (options.length == 1 ) {
                htmx.trigger(options[0], 'click');
            } else if (selectedOptionIndex >= 0) {
                htmx.trigger(options[selectedOptionIndex], 'click');
            }
        }
        // Scroll the selected option into view
        if (options[selectedOptionIndex]) {
            options[selectedOptionIndex].scrollIntoView({
                behavior: 'smooth',
                block: 'nearest',
                inline: 'nearest'
            });
        }
    });
</script>

{% endblock %}
