{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'formSubmission.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}
{% block title %}Claim{% endblock %} {% block content %}
{% csrf_token %}
<div class="d-grid gap-3 container">
    <div class="row">
        <div class="col">
            <div class="p-2">
                <label for="id_term">Term:</label>
                <select name="term" class="form-select" id="id_term">
                    {% for term in terms %}
                        {% if forloop.first %}
                            <option value="{{ term.pk }}" selected>{{ term }}</option>
                        {% else %}
                            <option value="{{ term.pk }}">{{ term }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="p-2">
                <label for="id_department">Department:</label>
                <select name="department" class="form-select" id="id_department">
                    <option value="any" value selected>Any</option>
                    {% for department in departments %}
                        <option value="{{ department.pk }}">{{ department }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="p-2">
                <label for="id_subject">Subject:</label>
                <select name="subject" class="form-select" id="id_subject">
                    <option value="any" value selected>Any</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.pk }}" department="{{ subject.department.pk }}">{{ subject }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col">    
            <div class="p-2">
                <label>Course:</label>
                <div class="form-control" id="id_course-text" contentEditable="true">
                </div>
                <div class="live-search-options" id="search-container">
                    <table class="table" id="course-options">

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="courseMultiSelect"></div>    
        <div class="p-2" id="previousCourses">
            <div>Previous courses:</div>
            <div class="container">
                {% for course in previous_courses %}
                    {% if forloop.counter0|divisibleby:5 %}
                        {% if not forloop.first %}</div><!-- close row div -->{% endif %} 
                        <div class="row">
                    {% endif %}
                    <div class="col">
                            <input type="checkbox" id="courseCheckbox{{ course.pk}}" value="{{ course.pk }}" subject="{{ course.subject.code }}" code="{{ course.code }}">
                            <label for="courseCheckbox{{ course.pk}}">{{course.subject.code}}: {{ course.code }}</label>--{{course.title}}
                    </div>
                    {% if forloop.last and not forloop.counter0|divisibleby:5 %}</div><!-- close row div -->{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div> 
<div class="p-2">
    <input type="checkbox" id="fits" checked>
    <label for="fits">Fits in Schedule</label>
    <input type="checkbox" id="available" checked>
    <label for="available">Is available</label>
</div>
<div class="container p-2">
    <div class="row">
        <div class="col center">
            <label>Exclude certain times:</label>
            <select id="day">
                {% for day_code, day in days %}
                    <option value="{{ day_code }}">{{ day }}</option>
                {% endfor %}
            </select>
            <label for="startTime">Start Time</label>
            <input type="time" id="startTime"  min="00:00" max="23:59">
            <label for="endTime">End Time</label>
            <input type="time" id="endTime"  min="00:00" max="23:59">
            <button type="button" id="excludeButton">Exclude Time</button>
        </div>
    </div>
    <div class="row" id="exclusionTimes">

    </div>
</div>
<div class="p-2">
    <div>
        <label>Sections:</label>
        <button class="cursor-pointer search-icon-link" id="meetingSearch">
            Search
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>
    </div>
    <div id="sections"></div>
</div>

<!-- Modal to submit a claim for a section/ particular meetings-->
<div class="modal fade" id="submitClaim" tabindex="-1" aria-labelledby="claimLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="claimLabel">Claim</span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-2">Meeting times:</div>
            <div class="mb-3" id="claimMeetings">
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="claimButton" class="btn btn-primary">Claim</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block scripts %}
    <script src={% static 'message.js' %}></script> 
    <script src={% static 'sections.js' %}></script> 
    <script src={% static 'claim.js' %}></script>
{% endblock %}
