{% extends "base.html" %}
{% load formhelpers %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            {% for code, day in days %}
            <th value="{{ code }}">{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for start_end_time in start_end_times %}
        {% with numbers|get_item:start_end_time.pk as start_time_blob %}
        <tr>
            <td value="{{ start_end_time.pk }}">
                {{ start_end_time }}
            </td>
            {% for code, day in days %}
            <td value="{{ code }}">
                {% if start_time_blob %}
                {% with start_time_blob|get_item:code as number %}
                {% if number %}
                <div class="container">
                    <div class="row" value="{{ number.allocation_group }}">
                        <div class="col-6 col-sm-3"></div>    
                        <div class="col-6 col-sm-3 fw-bold">{{ number.number }}</div>
                        <div class="w-100"></div>
                        <div class="col-6 col-sm-1">{{ number.count }}</div>
                        <div class="col-6 col-sm-1">{{ number.max }}</div>
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                {% else %}
                <div class="container">
                    No Data
                </div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
