{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'myMeetings.css' %}">
{% endblock %}
{% block title %}Edit Section{% endblock %} {% block content %}
{% csrf_token %}
<div class="container text-center">
    <section id="sections"> 
        <section name="section" value="{{ section.pk }}">
            {% include 'section_edit.html' with section=section days=days buildings=buildings start_section=True %}
        </section>
    </section>
    <br>
    <div class="row">
        <div class="col text-start">
            <input type="checkbox" id="enforceDepartmentConstraints" checked>
            <label for="enforceDepartmentConstraints">Enforce Department Constraints</label> 
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
<br>
<div id="meetingContainer">
</div>
{% endblock %} 
{% block scripts %}
    <script src={% static 'message.js' %}></script> 
    <script src={% static 'meeting_table.js' %}></script> 
    <script src={% static 'edit_section.js' %}></script> 
{% endblock %}