{% if is_shared_section %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-10 fw-bold">
            Meeting for {{ section }}
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-8">
            {{ section.course.title }}
        </div>
        <div class="col col-lg-4">
            Credit Hours: {{ section.course.credits }}
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-7 fw-bold">
            All Meetings
        </div>
        <div class="col col-lg-3 fw-bold">
            <a href="{% url 'edit_section' section=section.pk %}">
                Edit
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Time</th>
                    <th scope="col">Room</th>
                    <th scope="col">Professor</th>
                </tr>
            </thead>
            <tbody>
            {% for meeting_section in section.meetings.all %}
                <tr {% if meeting_section == meeting %}class="fst-italic fw-bold"{% endif %}>
                    <td>{{ meeting_section.time_block.day }}</td>
                    <td>{{ meeting_section.time_block.start_end_time }}</td>
                    <td>{{ meeting_section.room }}</td>
                    <td>{{ meeting_section.professor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-10 fw-bold">
            Meeting for {{ section }}
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-5 fst-italic text-sm-start">
            {{ section.primary_professor }}
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-7">
            {{ section.course.title }}
        </div>
        <div class="col col-lg-5">
            Credit Hours: {{ section.course.credits }}
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center fs-4">
        <div class="col col-lg-8 fw-bold">
            All Meetings
        </div>
        <div class="col col-lg- fw-bold">
            <a href="{% url 'edit_section' section=section.pk %}">
                Edit
            </a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr class="fs-5">
                    <th scope="col">Day</th>
                    <th scope="col">Time</th>
                    <th scope="col">Room</th>
                </tr>
            </thead>
            <tbody>
            {% for meeting_section in section.meetings_sorted.all %}
                <tr {% if meeting_section == meeting %}class="fst-italic fw-bold"{% endif %}>
                    <td>{{ meeting_section.time_block.day }}</td>
                    <td>{{ meeting_section.time_block.start_end_time }}</td>
                    <td>{{ meeting_section.room }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
