{% extends "base.html" %}
{% load static %}
{% block title %}Term Overview{% endblock %} {% block content %}
<label for="id_terms">Terms</label>
<select id="id_term" class="form-control">
    {% for term in terms %}
    {% if forloop.first %}
    <option value="{{ term.pk }}" selected>{{ term }}</option>
    {% else %}
    <option value="{{ term.pk }}">{{ term }}</option>
    {% endif %}
    {% endfor %}
</select>

{% endblock %}
{% block scripts %}
<script src={% static 'message.js' %}></script> 
<script src={% static 'term_overview.js' %}></script>
{% endblock %}
