{% if course %}
<div class="badge text-bg-light fs-5 m-2">
    <input name="course" value="{{ course.pk }}" hidden></input>
    {{ course.subject.code }}: {{ course.code }}

    {% if is_tagged %}
    <input name="is_tagged" type="text" value="true" hidden>
    {% else %}
    <input name="is_tagged" type="text" value="false" hidden>
    <button 
        onclick="this.closest('div').remove(); htmx.trigger('body', 'updateMeetings')"
        type="button" 
        class="btn-close" 
        aria-label="Close">
    </button>
    {% endif %}
</div>
{% endif %}
