{% load formhelpers %}

<input name="isDeleted" type="text" value="{% if edit_meeting.is_deleted %}true{% else %}false{% endif %}" hidden>
<input name="original" type="text" value="{% if edit_meeting.meeting %}{{ edit_meeting.meeting.pk }}{% else %}None{% endif %}" hidden>
<input name="section" type="text" value="{{ edit_meeting.section.pk }}" hidden>
<input name="startEndTime" type="text" value="{{ edit_meeting.start_time|time_input }},{{ edit_meeting.end_time|time_input }}" hidden>
<input name="day" type="text" value="{{ edit_meeting.day }}" hidden>
<input name="building" type="text" value="{% if edit_meeting.building %}{{edit_meeting.building.pk}}{% else %}any{% endif %}" hidden>
<input name="room" type="text" value="{% if edit_meeting.room %}{{edit_meeting.room.pk}}{% else %}any{% endif %}" hidden>
<input name="professor" type="text" value="{% if edit_meeting.professor %}{{ edit_meeting.professor.pk }}{% else %}None{% endif %}" hidden>
<input name="counter" type="number" value="{{ edit_meeting.counter }}" hidden>

<div class="col-sm-1 fw-bold">
  {{ edit_meeting.counter }}
</div>
<div class="col-sm-5 text-start {% if edit_meeting.is_deleted %}text-decoration-line-through{% endif %}">
  {{ edit_meeting.start_time|time_display }} - {{ edit_meeting.end_time|time_display }} &nbsp {{ edit_meeting.day }}
</div>
<div class="col-sm-4 text-start {% if edit_meeting.is_deleted %}text-decoration-line-through{% endif %}">
  {% if edit_meeting.building %} {{ edit_meeting.building }} {% else %} Any Building {% endif %}
  {% if edit_meeting.room %} {{ edit_meeting.room.number }} {% else %} Any Room {% endif %}
</div>
<div class="col-sm-1" class>
  {% if edit_meeting.is_deleted %}
  <svg 
    hx-put="{% url 'display_row' %}"
    hx-trigger="click" hx-include='#sections'
    hx-target='closest [name="meeting"]' 
    hx-vals='{"thisRefreshEditMeetings": "true"}'

    xmlns="http://www.w3.org/2000/svg" 
    width="16" 
    height="16" 
    fill="currentColor" 
    role="button"
    class="bi bi-arrow-counterclockwise" 
    viewBox="0 0 16 16"
  >
    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
  </svg>
 {% endif %}
</div>
<div class="col-sm-1">
</div>

{% if problems %}
  {% include 'problems.html' with problems=problems%}
{% endif %}

{% if in_edit_mode  %}
<div hx-swap-oob="innerHtml:#meetingsContainer">
{% include 'get_meetings.html' %}
</div>
{% endif %}
