{% load formhelpers %}
<div class="col-sm-1 fw-bold">
    <input name="isDeleted" type="text" value="false" hidden>
    <input type="number" name="counter" value="{{ edit_meeting.counter }}" hidden>
    <input type="text" name="original" value="{% if edit_meeting.meeting %} {{ edit_meeting.meeting.pk }} {% else %}None{% endif %}" hidden>
    <input type="text" name="section" value="{{ edit_meeting.section.pk }}" hidden>
    <input type="text" name="professor"
        value="{% if edit_meeting.professor %}{{ edit_meeting.professor.pk }}{% else %}None{% endif %}" hidden>
    {{ edit_meeting.counter }}
</div>
<div class="col-sm-5 text-start" name="timing">
    <select name="startTime" onchange='updateMeetings("{{ edit_meeting.section.pk }},{{ edit_meeting.counter }}", true)'>
        <option value="None">Any Time</option>
        <optgroup>
            {% for s, e in edit_meeting.get_time_intervals %}
            <option 
                value="{{ s|time_input }}" 
                {% if s == edit_meeting.start_time %}
                    selected 
                {% endif %}>
                {{ s|time_display }} - {{ e|time_display }}
            </option>
            {% endfor %}
        </optgroup>
    </select>
    <select onchange='updateMeetings("{{ edit_meeting.section.pk }},{{ edit_meeting.counter }}", true)' 
        hx-target='previous [name="startTime"]'
        hx-get="{% url 'update_time_intervals' %}" 
        hx-include='closest [name="timing"]' 
        name="day">
        <option value="None">Any Day</option>
        <optgroup>
            {% for code, d in days %}
            <option value="{{ code }}" {% if edit_meeting.day == code %}selected{% endif %}>
                {{ d }}
            </option>
            {% endfor %}
        </optgroup>
    </select>
    <!-- 
    {#
    Changing it to trigger on the response of the update meeting when the duration changed
    onchange='updateMeetings("{{ edit_meeting.section.pk }},{{ edit_meeting.counter }}", true)' 
    #} 
    -->
    <select 
        name="duration"
        hx-target='previous [name="startTime"]'
        hx-put="{% url 'update_duration' %}" 
        hx-vals='{"thisRefreshEditMeetings": "true"}'
        hx-include='#sections' 
        >
        {% for duration in durations %}
        <option 
        value="{{ duration|duration_input }}" 
        {% if edit_meeting.duration == duration %}selected{% endif %}>
            Length {{ duration|duration_input }}
        </option>
        {% endfor %}
    </select>
</div>
<div class="col-sm-4 text-start">
    <select hx-get="{% url 'update_rooms' %}" hx-target='next [name="room"]' name="building">
        {% for b in buildings %}
        <option value="{{ b.pk }}" {% if b == edit_meeting.building %}selected{% endif %}>
            {{ b }}
        </option>
        {% endfor %}
        {% if not edit_meeting.building %}
        <option value="any" hidden selected></option>
        {% endif %}
    </select>
    <select onchange='updateMeetings("{{ edit_meeting.section.pk }},{{ edit_meeting.counter }}")' name="room">
        <option value="any">Any</option>
        <optgroup>
            {% for r in edit_meeting.building.rooms.all %}
            <option value="{{ r.pk }}" {% if r == edit_meeting.room %}selected{% endif %}>
                {{ r.number }}
            </option>
            {% endfor %}
        </optgroup>
    </select>
</div>
<div class="col-sm-1">
    <svg 
        {% if edit_meeting.meeting %} 
            hx-delete="{% url 'display_row' %}"
            hx-trigger="click" hx-include='#sections'
            hx-target='closest [name="meeting"]' 
            hx-vals='{"thisRefreshEditMeetings": "true"}'
        {% else %} 
            onclick='deleteMeeting("{{ edit_meeting.section.pk }},{{ edit_meeting.counter }}")' 
        {% endif %}
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" role="button"
        class="bi bi-x-square" viewBox="0 0 16 16">
        <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
        <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
    </svg>
</div>

{% if problems %}
{% include 'problems.html' with problems=problems%}
{% endif %}


{# This condition instead of title like on input needed so that the first page does not rerender stuff #}
{% if edit_meetings %}
<div hx-swap-oob="innerHtml:#meetingsContainer">
    {% include 'get_meetings.html' %}
</div>
{% endif %}

