{% load formhelpers %}
<div class="col-sm-1 fw-bold">
  <input name="isDeleted" type="text" value="false" hidden>
  <input type="number" name="counter" value="{{ counter }}" hidden>
  <input type="text" name="original" value="{{ meeting_pk }}" hidden>
  <input type="text" name="section" value="{{ section_pk }}" hidden>
  <input type="text" name="professor" value="{% if professor %}{{ professor.pk }}{% else %}None{% endif %}" hidden>
  {{ counter }}
</div>
<div class="col-sm-5 text-start">
  <input type="time" name="startTime" min="00:00" max="23:59" value="{{ start_time|time_input  }}">
  &nbsp-&nbsp
  <input type="time" name="endTime"  min="00:00" max="23:59" value="{{ end_time|time_input  }}">
  <select name="day">
  {% for code, d in days %}
    <option value="{{ code }}" {% if day == code %}selected{% endif %}>
      {{ d }} 
    </option>
  {% endfor %}
  </select>
</div>
<div class="col-sm-4 text-start">
  <select 
    hx-get="{% url 'update_rooms' %}"
    hx-target='next [name="room"]'
    name="building"
  >
    {% for b in buildings %}
    <option value="{{ b.pk }}" {% if b == building %}selected{% endif %}>
        {{ b }}
    </option>
    {% endfor %}
    {% if not building %}
    <option value="any" hidden selected></option>
    {% endif %}
  </select>
  <select 
    onchange='
      const meetingsCounter = document.getElementById("meetingsContainer")
      meetingsCounter.setAttribute("hx-vals", `{"outerCounter": "{{ counter }}", "outerSection": "{{ section_pk }}"}`)
      htmx.trigger("body", "updateMeetings")
    '
    name="room"
  >
    <option value="any">Any</option>
    <option value="anyLab">Any Lab</option>
    <option value="anyGeneralPurpose">Any General Purpose</option>
    <option value="anyNongeneralPurpose">Any Nongeneral Purpose</option>
    <optgroup>
      {% for r in building.rooms.all %}
      <option value="{{ r.pk }}" {% if r == room %}selected{% endif %}>
        {{ r.number }} {{ r.classification }} {{ r.is_general_purpose }}
      </option>
      {% endfor %}
    </optgroup>
  </select>
</div>
<div class="col-sm-1">
  <svg 
    {% if meeting_pk %}
    hx-delete="{% url 'display_row' %}"
    hx-trigger="click"
    hx-include='closest [name="meeting"]'
    hx-target='closest [name="meeting"]'
    {% else %}
    onclick='this.closest(`[name="meeting"]`).remove()'
    {% endif %}

    xmlns="http://www.w3.org/2000/svg" 
    width="16" 
    height="16" 
    fill="currentColor" 
    class="bi bi-x-square" 
    viewBox="0 0 16 16"
  >
    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
  </svg>
</div>
<div class="col-sm-1">
  <svg
   hx-put="{% url 'input_row' %}"
   hx-include='#sections'
   hx-target='closest [name="meeting"]'

   xmlns="http://www.w3.org/2000/svg" 
   width="16" 
   height="16" 
   fill="currentColor" 
   class="bi bi-check-square" 
   viewBox="0 0 16 16"
  >
    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
  </svg>
</div>

{% if problems %}
  {% include 'problems.html' with problems=problems%}
{% endif %}
{% if edit_meetings %}
<div hx-swap-oob="innerHtml:#meetingsContainer">
{% include 'get_meetings.html' %}
</div>
{% endif %}
