<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8 fs-3 fw-bold">
            {{ section }}
        </div>
    </div>
    <div class="row justify-content-md-center">
        {% if in_edit_mode %}
        <div class="col col-lg-5 fw-bold" hx-disinherit="*">
            <button hx-put="{% url 'add_section' %}" hx-include="#sections"
                hx-vals='"addedSection": "{{ section.pk }}", "thisRefreshEditMeetings": "true"'
                hx-target="#sections" hx-swap="beforeend"
                type="button" class="btn btn-outline-primary">
                Edit in Group
            </button>
        </div>
        {% else %}
        <div class="col col-lg-2 fw-bold">
            <a href="{% url 'edit_section' section_pk=section.pk %}">
                Edit
            </a>
        </div>
        {% endif %}
    </div>
    {% if not is_shared_section %}
    <div class="row fst-italic justify-content-end">
        <div class="col fst-italic col-md-auto">
            {{ section.primary_professor }}
        </div>
    </div>
    {% endif %}
    <br>
    <div class="row">
        <div class="col col-lg-7">
            {{ section.course.title }}
        </div>
        <div class="col col-lg-5">
            Credit Hours: {{ section.course.credits }}
        </div>
    </div>
    <div class="row justify-content-md-center fs-4">
    </div>

    <div class="row">
        <table class="table">
            <tbody>
                {% for meeting_section in section.meetings_sorted.all %}
                <tr {% if meeting_section == meeting %}class="fst-italic fw-bold" {% endif %}>
                    <td>{{ meeting_section.time_block.day }}</td>
                    <td>{{ meeting_section.time_block.start_end_time }}</td>
                    <td>{{ meeting_section.room }}</td>
                    {% if is_shared_section %}
                    <td>{{ meeting_section.professor }}
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
