{% load formhelpers %}
{% regroup meetings by section as sections %}
{% for section in sections %}
  {% for meeting in section.list %}
  
  <div 
    class="event calendar{{ forloop.parentloop.counter|modulo:16 }} position-relative"
    style="grid-area: {% grid_area meeting.time_block.start_end_time.start meeting.time_block.start_end_time.end meeting.time_block.day %};"
  >
    {{ meeting.section }}
    <svg 
      hx-get="{% url 'get_meeting_details' %}"
      hx-target="#meetingDetailsContainer"
      hx-vals='{"inEditMode": "{{ in_edit_mode }}", "meeting": "{{ meeting.pk }}"}'
      onclick='new bootstrap.Collapse("#meetingDetails", {toggle: false}).show()'

      class="position-absolute top-0 end-0 bi bi-info-circle pt-1 pe-1"
      style="cursor: pointer;"
      name="meetingDetail" 
      value="{{ meeting.pk }}" 
      xmlns="http://www.w3.org/2000/svg" 
      width="25" 
      height="25" 
      fill="currentColor" 
      viewBox="0 0 16 16"
    >
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
  </div>
  {% endfor %}
{% endfor %}
