{% load formhelpers %}
<option value="None">Any Time</option>
<option value="None">{% if edit_meetings %} Hello{% endif %} </option>

<optgroup>
    {% for s, e in time_intervals %}
    <option 
    value="{{ s|time_input }}"
    {% if s == start_time %}
    selected
    {% endif %}>
    {{ s|time_display }} - {{ e|time_display }}
    </option>
    {% endfor %}
</optgroup>

{% if edit_meetings %}
<div hx-swap-oob="innerHtml:#meetingsContainer">
    {% include 'get_meetings.html' %}
</div>
{% endif %}
