{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}
{% block title %}Manage Sections{% endblock %} 
{% block content %}
<div class="d-grid gap-3 container" hx-vals='{"searchType": "claim"}'>
    <form id="course-options">
        {% include 'term_option.html' %}
        <div class="row">
            {% include 'department_subject.html' %}
        </div>
    </form>
    <div id="courseSearch">
        {% include 'course_search.html' with course_search_title="Add Course To Search" %}
    </div>
</div>
<div class="p-2" id="headControls">
    <div class="row pb-2">
        <div class="col-4">
            <input onchange="toggleCourseLiveSearch()" type="checkbox" class="form-check-input" name="isCourseSearch"
                id="isCourseSearch" checked>
            <label for="isCourseSearch">Search on courses</label>
            <select name="claimState" class="form-select">
                <option value="any">Any claim status</option>
                <option value="fullyClaimed">Fully Claimed</option>
                <option value="autoClaimed">Auto Claimed</option>
                <option value="fullyUnclaimed">Fully Unclaimed</option>
            </select>
        </div>
        <div class="col-5">
            {% include 'professor_display.html' %}
        </div>
    </div>
</div>

<div 
    hx-get="{% url 'get_head_sections' %}"
    hx-trigger="load, updateSections from:body"
    class="p-2"
    id="sections"
    hx-include="#courseMultiSelect, #professorControls, #course-options">
</div>
<script>
    const courseLiveSearchContainer = document.getElementById('courseSearch');
    const courseLiveSearchCheckBox = document.getElementById('isCourseSearch');
    function toggleCourseLiveSearch() {
        if (courseLiveSearchCheckBox.checked) {
            courseLiveSearchContainer.style.opacity = 1;
        } else {
            courseLiveSearchContainer.style.opacity = 0;
        }
    }
</script>
{% endblock %}
